# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/definition/demo.piq
/definition/doc.piqi.pb
/definition/piqi.doc.piqi
/definition/piqi.piqi
/definition/demo.piqi.pb
/definition/piqi.doc.piqi.pb.go
/definition/piqi.doc.piqi.proto
/definition/*.html

/piqigames
